* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}


.ui-datepicker-header {
  display: flex;
  gap: 10px;
}



.custom-datepicker {
  background-color: #bdbbc0;
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 9999;
}

/* Estilos para los botones "Prev" y "Next" del datepicker */
.ui-datepicker-prev,
.ui-datepicker-next {
  background-color: #4CAF50;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilos al pasar el cursor por encima de los botones */
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
  background-color: #45a549;
}

/* Estilos para el icono de los botones */
.ui-datepicker-prev span,
.ui-datepicker-next span {
  font-size: 16px;
  margin-top: -2px;
}